body
{
	margin: 0;
	padding: 0;
	background-color: #e6e6ff;
}
main
{
	width: 80%;
	margin: 5% auto;
	padding: 2.5% 5%;
	background-color: white;
}
#scheduler
{
	background-color: #f0f5f5;
	margin: 0 auto;
	padding: 0;
	border: solid 2px black;
	width: 100%;
}
#schedule_head
{
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: green;
	margin: 0;
	padding: 2.5% 0;
	border-bottom: solid 2px black;
}
#schedule_head span
{
	font-size: 1.5em;
}
#schedule_body
{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
}
.day
{
	text-align: center;
	grid-gap: 0;
	background-color: #f9ecf2;
	margin: 0;
	padding: 10%;
	border: solid 1px black;
}
.day.week_head
{
	background-color: yellow;
	padding: 0;
}
#control
{
	margin: 0;
	padding: 0;
}
#control button
{
	color: white;
	background-color: gray;
	border-radius: 5px;
	border: 0;
	margin: 0 .5%;
	padding: .5% 2.5%;
}
#control button: hover
{
	background-color: orange;
	color: black;
}